
/*
To customize the look and feel of se-app, you can override the variables

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$calm:                            $se-life-green !default; // used as main color in the app
$positive:                        $se-logo-green !default;
$balanced:                        $se-sunflower-yellow !default;
$energized:                       $se-honeysuckle-orange !default;
$assertive:                       $se-fuchsia-red !default;
$royal:                           $se-sky-blue !default;
$dark:                            $se-dark-grey !default;

*/

//$calm: #ff828a !default;












